<!DOCTYPE html>

{% extends "base.html" %}
{% load mezzanine_tags i18n %}
{% block main %}
{{ block.super }}

    <!--page_container-->
    {% block all_content %}

    <script>
    </script>
    <div class="page_container">
        <div class="wrap">
            <div class="container">
                <div id="ruben_buffer">
                <section>
                    <div class="row">  
                    <span class="span3">
                    Thanks
                    </span>

                    </div>               
                </section>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
    <!--//page_container-->


{% endblock %}