<!DOCTYPE html>

{% extends "base.html" %}
{% load mezzanine_tags i18n %}
{% block main %}
{{ block.super }}

    <!--page_container-->
    {% block all_content %}

    <script>
    </script>
    <div class="page_container">
        <div class="wrap">
            <div class="container">
                <div id="ruben_buffer">
                <section>
                    <div class="row">
                        <div class="span1">
                        </div>
                        <div class="span3">
                            <h2 class='title' id="dontcenter"></h2> 
                        </div>
                        <div class="span6">
                            <h2 class="title"><span>Thank you, your payment has been submitted for processing.</span></h2>
                        </div>
                    </div>
                    <div class="row">
                    <div class="span1">
                    </div>
                    <div class="span3">
                    </div>
                    </div>               
                </section>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
    <!--//page_container-->


{% endblock %}