{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}
{% block main %}
{{ block.super }}
{% block all_content %}
<div class="page_container">
	<div class="wrap">
    	<div class="container">
    		<div id="ruben_buffer">
    		    <section>
                    <div class = "row">
                        <div class = "span3">
                        </div>
                        <div class = "span6">
							<p>Your password has been set.  You may go ahead and log in now.</p>
							<p><a href="{{ login_url }}">Log in</a></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% endblock %}