<!DOCTYPE html>

{% extends "base.html" %}
{% load mezzanine_tags i18n %}
{% block main %}
{{ block.super }}
{% block title %}Password reset successful{% endblock %}

{% block all_content %}
	<div class="page_container">
    	<div class="wrap">
        	<div class="container">
        		<div id="ruben_buffer">
                <section>
                	<div class="row">
                    	<div class="span3">
                    	</div>
                    	<div class="span6">
							<h3>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</h3>
							<h3>You should be receiving it shortly.</h3>
						</div>
					</div>
				</section>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% endblock %}